.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: calc(100dvh - 32px);
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--neutral-fill-secondary-rest), var(--neutral-layer-3)) !important;
    color: var(--accent-fill-rest);
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3); /* Slight overlay effect */
    z-index: 1000;
}

.sidebar-header {
    height: 50px !important;
    padding: 8px !important;
    flex-shrink: 0; /* Ensures it doesn't shrink */
}

.sidebar-scrollable-menu {
    flex-grow: 1; /* Takes up remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
}
