<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)">
                <Authorizing>
                    <text>Please wait, we are authorizint the user.</text>
                </Authorizing>
                <NotAuthorized>
                    @if (!UserContext.ServerAccessible)
                    {
                        <p>Server is not accessible.</p>
                    }
                    else if (UserContext.Authenticated)
                    {
                        <p>Access denied. You do not have permission.</p>
                    }
                    else
                    {
                        <p>You must sign in to view this page.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <h3>Page not found!</h3>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<FluentDesignTheme StorageName="theme" />
